<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Immortal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/people">People</a>
          <a href="/notes" class="nav-link">Notes</a>
          <a href="/investigations" class="nav-link">Investigations</a>
          <a href="/natures" class="nav-link">Natures</a>
          <a href="/serenades" class="nav-link">Serenades</a>
          <a href="/skills" class="nav-link">Skills</a>
          <a href="/points" class="nav-link">Points</a>

        </div>
        <div class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
          <% } else{ %>
            <p class="nav-link"> Hey <%=currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1)%></p>
            <a class="nav-link disabled" href="/myStuff">My Stuff</a>
            <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>