<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immortal</title>
</head>
<body>
<h1>Immortal Homepage</h1>    
</body>
</html>