
<video id="myVideo" onclick="quickVideoEnd()" playsinline autoplay muted poster="https://desolate-atoll-68731.herokuapp.com/epicintro.mp4">
    <source src="https://desolate-atoll-68731.herokuapp.com/epicintro.mp4" type="video/mp4">
</video>

<% layout("layouts/boilerplate")%>

<style>
    video{
        object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: black;
  transition: 5s;
    }
    body{
        background-image: url('https://images.unsplash.com/photo-1484027224881-a91762262d8e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        color: #BBB;
    }
    
    @media (max-width: 600px) {
    body {
        background-image: url('https://images.unsplash.com/photo-1484027224881-a91762262d8e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80');
        background-position-x: -17rem;
    }
}

</style>


  <h1 id="videoEnd">Welcome to the Jungle</h1> 
  <script>
      function quickVideoEnd() {
        setTimeout(function () {
        document.getElementById('myVideo').style.display="none";
    }, 1000);
    document.getElementById('myVideo').style.opacity="0";
       document.getElementById('videoEnd').style.display="block";
      }
      
      function stateChange() {
    setTimeout(function () {
        document.getElementById('myVideo').style.display="none";
    }, 4500);
}
    document.getElementById('myVideo').addEventListener('ended',myHandler,false);
   function myHandler(e) {
       if(!e) { e = window.event; }
       // What you want to do after the event
        stateChange();   
        document.getElementById('myVideo').style.opacity="0";
       document.getElementById('videoEnd').style.display="block";
   }
    
       
</script>