<% layout("layouts/boilerplate")%>

<div style="background-color: white;">    
    <h2>Post Character Creation Point Costs</h2>
    <p><strong>Natures:</strong> A new Nature costs 5 EP to purchase if
        it is common to your character’s Species
        or Tribe — it costs 10 EP if it is not. If a
        Nature has levels each level is 5 EP if it
        is common to your Species or Tribe; 10
        EP if it is not common. Some natures
        (Enhanced Senses and Size for example)
        can be purchased more than once; each
        purchase is treated as a separate nature.</p>
    <p><strong>Skills and Serenades Chart</strong> </p>
    <p><style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-c3ow" colspan="5">Skill and Serenade Chart</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-7btt">Base Cost</td>
            <td class="tg-7btt">Rank 2</td>
            <td class="tg-7btt">Rank 3</td>
            <td class="tg-7btt">Rank 4</td>
            <td class="tg-7btt">Rank 5</td>
          </tr>
          <tr>
            <td class="tg-c3ow">2</td>
            <td class="tg-c3ow">+3</td>
            <td class="tg-c3ow">+5</td>
            <td class="tg-c3ow">+8</td>
            <td class="tg-c3ow">+13</td>
          </tr>
          <tr>
            <td class="tg-c3ow">3</td>
            <td class="tg-c3ow">+4</td>
            <td class="tg-c3ow">+7</td>
            <td class="tg-c3ow">+11</td>
            <td class="tg-c3ow">+18</td>
          </tr>
          <tr>
            <td class="tg-c3ow">4</td>
            <td class="tg-c3ow">+6</td>
            <td class="tg-c3ow">+10</td>
            <td class="tg-c3ow">+16</td>
            <td class="tg-c3ow">+26</td>
          </tr>
          <tr>
            <td class="tg-c3ow">5</td>
            <td class="tg-c3ow">+8</td>
            <td class="tg-c3ow">+13</td>
            <td class="tg-c3ow">+21</td>
            <td class="tg-c3ow">+34</td>
          </tr>
          <tr>
            <td class="tg-c3ow">6</td>
            <td class="tg-c3ow">+10</td>
            <td class="tg-c3ow">+16</td>
            <td class="tg-c3ow">+26</td>
            <td class="tg-c3ow">+42</td>
          </tr>
          <tr>
            <td class="tg-c3ow">7</td>
            <td class="tg-c3ow">+12</td>
            <td class="tg-c3ow">+19</td>
            <td class="tg-c3ow">+31</td>
            <td class="tg-c3ow">+50</td>
          </tr>
          <tr>
            <td class="tg-c3ow">8</td>
            <td class="tg-c3ow">+14</td>
            <td class="tg-c3ow">+22</td>
            <td class="tg-c3ow">+36</td>
            <td class="tg-c3ow">+58</td>
          </tr>
        </tbody>
        </table></p>
    
        <p><strong>Attributes:</strong> The cost to raise an attribute is
            twice the new rating. To go from a 4 to
            a 5 in STR will cost 10 EP for example.</p>
        You
need to have three things in order to
raise one of the six main attributes above
a 6. The first is an ark with enough

attribute points equal to all seven of your
main attributes (STR, AGL, END, PER,
WIL, PRS and SPT) and enough
Immaculum to equal twice your SPT.
The second thing you need is enough EP
points equal to three times the new
rating (6 to a 7 would cost 21 EP). The
final thing you need is the knowledge of
how to conduct the ritual. It is fairly
easy to learn, and most Immortals know
it and are willing to share the knowledge
of it fortunately. Every Mentor within
the Tribes is taught the ritual. It is
painful as it does involve the forcible
spilling of your own life force.

<hr>
<hr>

        <h2>Character Creation</h2>
        <h3>QUICK RUNDOWN</h3>
        <p>
            Your character is made using “build
points” which are broken down into
various categories. First go through the
following steps and make some choices
so you know where and how you can
spend them. Below is a quick rundown
of those steps, they’re detailed
afterwards. It is a good idea to go
through these steps in order since each
step builds on the ones that come before
it.
 </p>

        <h4>1 – Determine Concept</h4>
<p>
Are you a hard-edged police officer, a
determined student of archeology, a
bored housewife with a secret wild side
or the driven head of a giant
corporation? Your concept is the basis
for all the rest of your choices.
(Page 99)
</p>

        <h4>2 – Pick a Predilection</h4>
<p>
Are you the martyr, a knight, a survivor,
a yuppie or maybe an analyst? Your
predilection should reflect your concept
and is a quick summary of the way you
tend to think and act in a given situation.
(Page 100)
</p>

<h4>3 – Pick your Himsati</h4>
<p>
Are you a tiger, a horse, a dolphin, an
eagle or perhaps a spider? Your himsati
should reflect your concept and
predilection so that you can easily play

it; some people have difficulty playing a
hard-edged police officer with the
himsati of a dove. Your character starts
with five natures (mythical versions of
your mortal counterparts’ abilities such
as a bird’s flight, a lion’s sharp claws, or
a spider’s ability to cling to things)
based on the type of creature your
himsati represents — you choose what
five to start with. If a nature you chose
has levels, you may forego one of your
other five choices in order to increase it
an additional level.
</p>

<h4>4 – Pick your Calling</h4>
<p>
Are you a soldier, a spy, a teacher or
maybe an investigator? Callings
represent skill-sets that an immortal
tends to carry with him from lifetime to
lifetime; the calling of an immortal
rarely changes. Even if your character
has not already awakened to his
immortality at the start of the game, he
or she has a calling. Callings should
reflect the first three steps that you have
taken: concept, predilection and himsati.
If you wish to play that determined
chemistry student — an analyst with the
himsati of an owl — the Slayer calling
may not be a good choice.
Once you have chosen your calling you
receive one special gift for being a
member of that calling. In addition you
may pick three out of the four listed
skills for that calling and assign one of
them a rank of 3 and the remaining two a
rank of 2. These points are in addition
to the build points you receive to flesh
out your character’s other skills. The
twelve callings represent the greater
areas of immortal knowledge and skill.
(See Callings, Page 103)
</p>

<h4>5 – Choose your Motif</h4>
<p>
You start the game with one motif, the
basis for the special effects of all your
serenades. All immortals have a
metaphysical connection to reality
represented by their motif. Though you
start out small you will grow and expand
your motif. For example you can start
out with lightning and later add rain,
wind and thunder, turning yourself into a
lord of the storm itself. Your motif
should work well with your previous
choices above. Some motifs work well
with some tribes and serenades; others
do not. So keep that in mind as you
continue on. Motifs are covered fully in
the section on serenades and you can
find several ideas by looking through the
sample serenades.
(Chapter 8 Serenades, Page 155)
</p>

<h4>6 – Choose your Tribe (if applicable)</h4>
<p>
You do not necessarily begin the game
as a member of a tribe; especially if you
have yet to even discover your
immortality when the game begins.
However, you should still review the
tribes to see which appeal to you and fit
the kind of character you’ve created in
steps 1 through 5 so far. You may also
have been a member of one of the tribes
in your last incarnation as an Immortal.
If so that is the tribe that you would
currently be considered a member of
when the game begins. If you do begin
the game as a member of a particular
tribe, write it down and note the special
gift you receive for being a member.
(See Tribes, Page 107)
</p>
<h4>7 – Spend Build Points</h4>
<p>
You begin the game with a number of
“build points” to spend on attributes,
skills and serenades. You also get
“bonus points” which help round your
character out. Before you spend the
points, assign the five free natures and
three skills you receive from your choice
of himsati and calling.
Attributes – 16 points
Your character starts with 1 point in
each of the seven attributes (Strength
[STR], Agility [AGL], Endurance
[END], Perception [PER], Willpower
[WIL], Presence [PRS] and Spirit
[SPT]). You have 16 points to allot as
you see fit. Example: if you want a
total of a 4 in your Strength attribute,
you will need to allot 3 of your 16
points, raising Strength from a 1 to a 4.
You cannot start the game with any
attribute higher than 5. The average
attribute for a human is 3.
(Chapter 7 Attributes Page 139)
Skills and Foci – 55 points
Aside from the three free skills you
receive from your choice of calling, you
have 55 points to allot as you see fit.
Multiple the skill’s base cost by the rank
you want to determine how many points
you need to spend. Example: if you
want a rank 3 in a skill with a base cost
of 4, you need to spend 12 build points.
If you wish to increase any of the free
skills from your calling choice, simply
spend a number of points equal to the
skill’s base cost for each increase in
rank. You get one focus for each skill
you purchase and the three free skills
from your calling. Skills in the game are
broad, the foci represents the area within
the skill that you have your core training
and knowledge.
No skills can be at rank 5 (the highest
skill rank in the game) and a maximum
of one skill can be at rank 4 when
character creation is finished.
Remember that a rank of 1 is considered
fully trained in all the basics of a skill
already.
You also use your 55 skill built points to
purchase your serenades — mystical
skill-based powers such as making
fireballs, telekinesis, mind-reading,
creating illusions, and so forth. You can
purchase a maximum of two serenades
to start the game and neither can be
higher than rank 2. Each serenade also
grants you a focus.
(Chapter 7 Skills, Page 144. Chapter 8
Serenades, Page 153)
Bonus Points – 20 points
These points allow you to customize
your character further before the start of
the game. Even if you have not
discovered your immortality, you can
purchase anything below with the
Narrator’s approval (discovering it early
on in the game):
8 Bonus Points — purchase a himsati
nature, increase a himsati nature by one
level, or purchase an additional attribute
build point.

4 Bonus Points — purchase an
additional foci for a regular starting skill.
You may not purchase additional foci
for serenades.
1 Bonus Point — purchase an additional
skill build point.
</p>
</div>