<% layout("layouts/boilerplate")%>
<div class="row">
    <h1 class="text-center">New DND Person</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/dndpeople" method="POST">
            <div>
                <label class="form-label" for="name">Name</label>
                <input class="form-control mb-3" type="text" id="name" name="dndperson[name]" placeholder="John Smith">
            </div>
            <div>
                <label class="form-label" for="location">Location</label>
                <input class="form-control mb-3" type="text" id="location" name="dndperson[location]"> 
            </div>
            <div>
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control mb-3" type="text" id="image" name="dndperson[image]"> 
            </div>
           
            <div>
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control mb-3" type="text" id="description" name="dndperson[description]"></textarea> 
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add DND Person</button>
            </div>
          
        </form>
        <div>
        <a href="/dndpeople">All DND People</a>
        </div>
       
</div>


