<% layout("layouts/boilerplate")%>
 <h1>Serenades</h1> 
 <div id="hacker-list"">
    <form class="search search-form mb-3">
      <input type="text" style="flex: 10;" class="search form-control form-control-md" placeholder="Search Serenades">
      <!-- <div style="display: flex;">
        <span class="sort btn btn-sm btn-info flex-grow-1" data-sort="name">Sort Name</span>
        <span class="sort btn btn-sm btn-info flex-grow-1" data-sort="tribe">Sort Tribe</span>
        <span class="sort btn btn-sm btn-info flex-grow-1" data-sort="activation">Sort Activation</span>
        <button style="flex: 0;" class="btn btn-success btn-sm sort flex-grow-1" data-sort="name">Reset</button>      
      </div> -->
      </form>
      <ul class="list"></ul>
    </div>
  </div>

  <script>
      const serenades = [
          {
              attention: `Destruction`,
              name: `Deadly Swarm`,
              effect: `The character hums and buzzes
slightly, and a stream of insects pour
forth from the nearest nest/hive/etc. The
stream is far larger than the hive could
hold, and it forms a huge cloud that
attacks everything in the area.`,
              focus: `Swarm of biting/stinging insects`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
          {
              attention: `Destruction`,
              name: `Ember`,
              effect: `The target erupts into a gout of
flame, taking damage once per round.
The target burns until the serenade total
drops to its BODY. Mundane attempts
to put out the fire (water, smothering,
etc.) will not put the fire out, but will
decrease the strength at least some.`,
              focus: `Spontaneous Combustion (Fire)`,
              baseCost: `6`,
              aoe: `0`,
              duration: `0(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
          {
              attention: `Destruction`,
              name: `Fireball`,
              effect: `The character manifests a ball of
fire over his head and directs it at the
target area. It instantly travels there and
explodes outwards covering the AoE.`,
              focus: `Fireball`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Hailstorm`,
              effect: `The character blows icy breath
into his cupped hands, revealing a ball of
ice that he drops on the ground.
Immediately the sky grows dark and
huge hailstones drop from the sky into
the affected area. The stones will
bounce off objects to reach characters
protected by overhead shelter when
possible`,
              focus: `Hailstones (Ice Motif)`,
              baseCost: `6`,
              aoe: `2`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Mindstorm`,
              effect: `The character manifests droplets
of water that fly through the air and
continuously drop down onto the target,
creating a cacophony of mind-rending
sound within the target’s mind.`,
              focus: `Rain`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`, 
              target: `Mind`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Rending Vines`,
              effect: `The character points at the
ground and huge vines erupt from the
ground, grabbing and tearing at all.`,
              focus: `Thorny Vines (Vines)`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Spear of Destiny`,
              effect: `Jagged Spear (Metal)`,
              focus: `A magical spear manifests in the
character’s hand and is thrown with
uncanny accuracy at the target, the spear
only misses if the serenade total does not
generate an effect level.`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Surge`,
              effect: `Lightning leaps from the
character’s hands at the target.`,
              focus: `Lightning`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `The Shout`,
              effect: `This is the only known
exception for destruction serenades in
that it uses the cry, howl or call of the
character’s own himsati as the focus.
The character’s vocal chords temporarily
revert to himsati as he lets out a
shockwave based on his himsati.`,
              focus: `Himsati Cry/Howl/Call`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Thundercrack`,
              effect: `The character slams his hands
together, causing an ear-splitting rolling
blast of thunder to ripple out in a cone-
shape (same rough area as AoE 1
radius).`,
              focus: `Cone of Rolling Thunder`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Wolven Rage`,
              effect: `The character lets out a wolf-
howl and a spiritual wolf appears from
nearby, leaving a glowing trail. The
spirit circles the target, diving in and
attacking, doing damage to the target
once per round until the serenade
strength drops to the target’s BODY.`,
              focus: `Mystical Wolf Spirit (Wolves)`,
              baseCost: `6`,
              aoe: `0`,
              duration: `0(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Constrictor`,
              effect: `The character manifests a
magical boa constrictor that wraps
around and holds the target.`,
              focus: `Boa Constrictor (Snakes)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `1(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Embrace`,
              effect: `The character touches his target;
his motif covers the target, making it
impossible to move. If the character
stops touching the target however, he is
immediately freed. This may require a
physical conflict in order to touch the
target.`,
              focus: `Immobilizing Touch`,
              baseCost: `3`,
              aoe: `Touch`,
              duration: `2(-T)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Filament`,
              effect: ``,
              focus: `Webbing`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Frost Wall (WARP)`,
              effect: `Frostwall borrows from the

attention of destruction. It creates a wall
of ice that must be broken through;
however, it is so cold that anything
touching it takes frostbite damage every
round they touch it (mundane protective
clothing will not resist this damage).
The current strength is compared to the
BODY of anyone who touches the wall
to determine damage.`,
              focus: `Wall of super-cold ice`,
              baseCost: `5`,
              aoe: `1`,
              duration: `1(-E)`, 
              target: `6`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Gorgon`,
              effect: `The character turns the target to
stone.`,
              focus: `Stone`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Hedgemaze`,
              effect: `Anyone in the AoE finds
themselves trapped in a hedge maze.
The maze even grows over the target’s
head to prevent him from climbing out.
The target can try to break his way
through or he can search for the exit. If
he finds the exit, the serenade ends
immediately. The serenade total should
be used as the target number to search
for the exit, plus any applicable bonuses
or penalties. Eventually the hedge
shrivels up and crumbles at the end of
the duration.`,
              focus: `Bushes`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(-T)`, 
              target: `6`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Metalstruck`,
              effect: `An area effect restraint, the
character conjures a small metal object

166
at the center of the AoE and all
characters cannot pull free from the area
as they are spiritually magnetized to the
object.`,
              focus: `Magnetism`,
              baseCost: `5`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Mindwave`,
              effect: `The target’s head is filled with
so much prose that he cannot think
straight enough to do anything. Since
this serenade targets the MIND, the
target must use his WIL to break free
instead of his STR.`,
              focus: `Writer’s Block (Poetry)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Mind`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Quake`,
              effect: `The character conjures and
tosses a small stone at the ground. The
ground shakes and trembles as chasms
open up that swallow up the target and
close him. The target must then dig his
way out of the underground chasm or
wait until the aftershocks open the
ground back up again to release him at
the end of the scene.`,
              focus: `Creating Chasms (Earth)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Weld`,
              effect: `The character sticks two or
more things together: two inanimate objects,
two living creatures, or a living creature
and an inanimate object. The serenade
is already designed to affect a number of
targets up to the character’s SPT, so the
–2 penalty is ignored. Attempting to
stick together more targets would incur
the –4 or –6 penalty. Each target breaks
free from the weld based on the effect
level he is under.`,
              focus: `Stick Together`,
              baseCost: `5`,
              aoe: `Special (see description)`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Mimicry`,
              name: `Epitome`,
              effect: `The character manifests a
chaotic whirlwind from his motif,
surrounding the target and recipient.
The character chooses which nature(s)
he is attempting to copy before making
the roll. The serenade works on mortal
animals as well, granting the recipient
only base levels in the appropriate
natures. There are exceptions — such as
a cheetah having a high Hyper nature.`,
              focus: `Copy Himsati Natures`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Mimicry`,
              name: `Rapier`,
              effect: `The character activates one or
more of his natures and then manifests
the power of his motif. It grabs up the
natures and places them into a weapon
of the character’s choosing. If the
weapon is given to another individual, it
uses their attributes with the natures as
appropriate. The wielder must expend at
least passive actions to use the natures in
the weapon. This is a good serenade for
natures like Beauty, Deafen,
Discorporate, Poison, Secrete and
Terrible Countenance.`,
              focus: `Weapon Natures`,
              baseCost: ``,
              aoe: `Self Only`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Mimicry`,
              name: `Gemetria (WARP)`,
              effect: `The character is changed into
multiple copies of his himsati that flee

the area and attempt to “rejoin” and
reform the character at the end of the
duration. Even if all but one clone is
destroyed, that one clone reforms into
the character’s human form. There is no
resistance for complexity since the
character is copying himself.
The serenade borrows from the aperture
attention (covered in the Narrator’s
Guide) allowing the SPT and Vox of the
character to move between the clones.
The higher the effect level, the longer
the clones are willing to stay apart.
The character can make a number of
clones based on the same penalty as
affecting multiple targets. One clone at
no penalty, a number up to his SPT for –
2, up to twice his SPT for –4, and up to
three times his SPT for –6. Very small
creatures will make additional copies to
fill up a volume equal to a size zero
creature.`,
              focus: `Escaping Himsati Copies`,
              baseCost: `5`,
              aoe: `Self Only`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
          {
              attention: `Mimicry`,
              name: `Khemia`,
              effect: `The character can tie the
attributes of one inanimate substance to
another. The energetic light of fire can
be placed in a diamond so that it burns
without heat. Fire can be given the
translucent rigidity of crystal and
become unmoving stone radiating heat,
or carved into a sculpture. Shadow can
be placed into a woman’s gown to make
it move with a strange dimensionality, or
the shadow can be placed into fog to
make it darker. The serenade is already
designed to affect a number of targets up
to the character’s SPT, so the –2 penalty
is ignored.`,
              focus: `Copying inanimate attributes`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Mimicry`,
              name: `Looking Glass (Warp)`,
              effect: `The character can pull copies of
objects out of a mirror that has reflected
them at some point. The complex mimic
resistance penalty is negated; objects of
great complexity will not work like the
original since they are merely
reflections.
When the character sings the serenade, it
can jump straight back to a particular
point in time, or the character can scroll
through time within a few rounds worth
of time.
The Time penalty (see Attention of
Sensation) applies to this serenade. The
character should determine the serenade
strength, and then he can pull out any
object he wishes whose BODY is low
enough to give him at least one effect
level.`,
              focus: `Copying past objects (mirrors)`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Mimicry`,
              name: `Reflection`,
              effect: `The character’s motif lightly
touches upon the target, returning to the
recipient and bringing a copy of what
makes the target special: his persona,
predilection, mannerisms, way of
thinking, and so forth. The recipient can
imitate the target flawlessly, switching
back and forth between his normal
persona and the target’s at will. While
using the target’s persona, even mystical
scans would reveal the recipient to have
the target’s persona, predilection and so
forth. The character will always incur
the complex mimic serenade at –4.`,
              focus: `Copying Persona`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Mimicry`,
              name: `Simulacrum`,
              effect: `The target is covered with the
character’s motif. The motif sloughs off
the target forming into a duplicate. The
clone will have no SPT and will have
one less point in each of the other six
attributes.
The duplicate does not truly have the
mind and spirit of the original, so it will
act slightly childlike without some way
to assist it in how to act. It does not
actually possess any of the skills or
special abilities either, just a passing
familiarity.
The complex mimic penalty is not
applied as it is factored into the base cost
for the serenade.`,
              focus: `Clone a human`,
              baseCost: `6`,
              aoe: `Touch`,
              duration: `0`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Chevron`,
              effect: `The serenade makes someone
seem more powerful than they are,
especially to mystical forms of scanning.
The recipient seems as if his attributes

are higher than they truly are, the person
seems stronger, more dynamic, more
agile, and so forth. It doesn’t really
increase any attributes so if the recipient
of the illusion is tested he will likely fail
that test. Each effect level gives the
recipient one more “point” in each of the
seven attributes — or the points can
cluster in only some attributes instead.
The illusion will be questioned
automatically if a normal human appears
to have higher than a 5 in just about any
attribute, or an Immortal has higher than
a 9.
The –2 resistance for fooling mystical
senses is factored into the cost and is not
applied to this serenade.`,
              focus: `False attribute levels`,
              baseCost: `3`,
              aoe: `Self-only`,
              duration: `2 (scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Dim`,
              name: `Illusion`,
              effect: `The serenade makes someone
seem more powerful than they are,
especially to mystical forms of scanning.
The recipient seems as if his attributes

are higher than they truly are, the person
seems stronger, more dynamic, more
agile, and so forth. It doesn’t really
increase any attributes so if the recipient
of the illusion is tested he will likely fail
that test. Each effect level gives the
recipient one more “point” in each of the
seven attributes — or the points can
cluster in only some attributes instead.
The illusion will be questioned
automatically if a normal human appears
to have higher than a 5 in just about any
attribute, or an Immortal has higher than
a 9.
The –2 resistance for fooling mystical
senses is factored into the cost and is not
applied to this serenade.

Dim (3)
Range: Self Only
Duration: 2 (-T)
Focus: Appear dead/inanimate
Effect: Makes the living aura of the
target transparent to mystical senses and
as a side effect makes the character
appear dead to inspection by mortals.
Mystical senses that do not rely on a
form of vision will perceive the
character as nothing more than an
inanimate object. If the character moves
while in contact with another living aura,
the serenade ends immediately. The
character may choose to leave part of his
living auras (attributes) undimmed so
that he merely appears weaker than he
really is (opposite of Chevron).
Effect levels become bonuses to any
kind of Evasion roll to avoid being
detected by anything that tracks by aura
rather than by normal sight or smell.

170
The –2 resistance for fooling mystical
senses is factored into the cost and is not
applied to this serenade.`,
              focus: `Appear dead/inanimate`,
              baseCost: `3`,
              aoe: `Self-only`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Domino (Warp)`,
              effect: `Borrowing from the attention of
communication, the serenade sets up a
minor telepathic link between the
character and any targets he interacts
with for the duration of the serenade. It
uses the target’s own thoughts to feed
clues — in the form of stray thoughts —
back to the character to assist in keeping
up the illusion.
The illusion causes the character to
appear someone the target trusts,
admires and respects. The character
appears different to each target;
character take a risk if they attempt to
interact with two targets simultaneously,
if even one target catches on, the
serenade ends.
The chart suggests how the character
may appear based on the effect level
generated on a given target. The
character can select targets up to twice
his SPT, with targets possibly moving in
and out of the area of effect.
Effect Lvl / Domino suggested illusions
1 Generic: Appears as random
fireman, policeman, doctor, priest,
etc.
2 Frequent light social contact:
Neighbor, mailman, distant
relative
3 Admired personage: Favorite
movie star, sports figure, love
interest, politician
4 Close contact: Sibling, parent,
spouse, child
5 Implicit trust: Angel, ghost of
long-lost parent, earth spirit, etc.
`,
              focus: `Appear as a trusted individual`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Metaphor (Vogue)`,
              effect: `The recipient of this serenade
blends into the crowd around him,
everything about him becomes plain and
ignorable. He appears to be whatever
various onlookers expect him to be as

they rush through their day. Those
around the recipient simply ignore the
strange armor, weapons, clothing and
himsati natures the character may have
active or on his person.
Effect levels count as automatic Evasion
bonuses to not being noticed. When
someone is actively searching for the
recipient of the serenade.`,
              focus: `Becoming Nondescript`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Rialla`,
              effect: `The serenade creates the illusion
of a gathering of people: a meeting,
conference, party, and so forth.
Appropriate sights, sounds, smells, and
even touch are created for those
interacting with the illusion. The
serenade can also “decorate” the
surroundings to match the type of
gathering created.
Of course, any drink or food is not real
and once the illusion wears off the
Effect Lvl Domino suggested illusions
1 Generic: Appears as random
fireman, policeman, doctor, priest,
etc.
2 Frequent light social contact:
Neighbor, mailman, distant
relative
3 Admired personage: Favorite
movie star, sports figure, love
interest, politician
4 Close contact: Sibling, parent,
spouse, child
5 Implicit trust: Angel, ghost of
long-lost parent, earth spirit, etc.
targets will feel strangely hungry or
thirsty again.`,
              focus: `False Gathering`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `The Ripple`,
              effect: `A favorite among the Slayer
Calling, it sends out a ripple using the
character’s motif, in order to draw in
enemies. Effect levels determine how
strong the Immortal making the “ripple”
appears to be.
Effect Lvl Suggested Ripple level
1 Weak, just awoke from lethe
2 Young, less than 100 years since
coming out of lethe
3 Moderately powerful Immortal of
a few hundred years of age.
4 Very powerful Immortal of a
thousand or more years possibly
5 On the verge of Transcendence
`,
              focus: `Creating a False Ripple`,
              baseCost: `3`,
              aoe: `2`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Veil`,
              effect: `People don’t see the recipient of
the serenade at all. Light seems to pass
through him. It even slightly dampens
smell and sound that originates from the
recipient. If the recipient comes in
physical contact with someone in the
AoE, the effect is immediately broken.
Effect levels can aid various forms of
Evasion. The –2 resistance can allow
the fooling of cameras and mystical
senses as well.`,
              focus: `Turn Invisible`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Bastion (Vogue)`,
              effect: `This covers the target’s entire
body using some form of the character’s
own motif and protects against all forms
of damage that target the BODY
(including physical attacks from
weapons). Each effect level provides
one point of mystical armor.`,
              focus: `The character’s motif is used.`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Cacophony`,
              effect: `The character uses his motif to
begin shifting the target’s attributes out
of phase, creating a chaotic fugue that
becomes harder to target with a
serenade. The target number is the
highest of his BODY, MIND or SPT.
Each effect level provides 1 point of
defense against incoming serenades.
This requires a –4 resistance penalty
since it protects three attributes at once.`,
              focus: `Serenade protection`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `-4 resistance penalty since it protects 3 attributes at once`
          },
          {
              attention: `Protection`,
              name: `Lightning Sphere`,
              effect: `The character creates a ball of
lightning that expands out and surrounds
a small area, weakening incoming
attacks. Any attacks must first penetrate
the armor provided by the shield, before
any damage can be applied to a target
inside the shield. All targets inside the
sphere are given the same points of
protection .`,
              focus: `Force Field (Lightning)`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Rigor`,
              effect: `Each effect level grants the
character additional points of END for
the sole purpose of resisting hostile
elements created by the environment:
cold, heat, harsh winds, and so forth. It
allows the character go longer without
becoming hungry or thirsty, survive in a
cold winter region or a harsh hot desert.`,
              focus: `Surviving the elements`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Root Shield`,
              effect: `Roots shoot up out of the ground,
wrapping themselves around the target
and melding together into a set of
supernatural wooden armor. Each effect
level grants one point of armor. An
effect level of one will grant basic wood,
while an effect level of 5 or more seems
stronger than petrified wood. Over the
course of the battle, the wood is chipped
away by attacks.`,
              focus: `Wooden Armor (wood)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `1(-E)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Thinkbox`,
              effect: `Each effect level grants the
character additional points of MIND to
resist being mentally manipulated by

mystical effects. A glowing ever-
changing geometric pattern whirls

around the target, protecting him from
serenades and other mystical forms of
MIND-based damage or manipulation.`,
              focus: `Geometric Patterns`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Zen Shadow`,
              effect: `The character focuses his mind to
such a degree that real things do not
exist for him, nor can do him harm even
EXAMPLE:
Integrating Protection
A character plays the Root Shield
serenade to cover himself in wooden
armor. He is already wearing a suit of
armor so the serenade integrates itself
into the metal suit of armor, carving
intricate patterns into the metal surface
of leaves and roots, etc.

174
though they may harm someone else
nearby. A “shadow” sword passes
through him, “shadow” fire does not
burn him.
The player rolls against his own BODY
and each effect level adds to his AGL or
BODY for the purpose of avoiding
physical attacks and damage. He no
longer physically avoids the attack but
makes his standard roll for the Dodge
skill. If successful, the object passes
through him. This will work against
items that have been magically
enhanced, so long as they do not have a
SPT aura.`,
              focus: `Disbelief`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Creeper`,
              effect: `The character conjures a spider
that he tosses at the target; the spider
quickly spins a light web around the
target that doesn’t impede his
movement, but allows him to walk on
walls and ceilings. Additional effect
levels beyond the first double his
movement rates.`,
              focus: `Wall walking (spiders)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Flux and Flow`,
              effect: `The serenade grants the user a
limited flight ability, but instead of
granting standard flight, it enables the
target to “walk” on increasingly difficult types of surfaces at his normal combat
movement rate with perfect balance.
See the chart nearby for suggestions on
abilities. Effect Lvl Suggested Flux and Flow ability
1 Mimics the balance nature,
allowing walking on severely
steep inclines, tightropes, etc.
2 Walk on liquids (even turbulent
ones) such as a lake or across a
large pool
3 Walk on walls and ceilings
4 Walk on floating dust leaves
5 Walk on flows of air, no matter
how turbulent or unstable`,
              focus: `Wind walking (wind)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Froth`,
              effect: `A chaotic mass of bubbles
surrounds the target, carrying him in
whatever direction he desires (or the
character desires if he uses the penalty to
control the serenade). The serenade
provides a form of swimming and is
treated just like the Aquatic himsati
nature. As a simple side effect, the
target has a small limited air supply at
the Narrator’s discretion.`,
              focus: `Swimming (air)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Nightcrawler`,
              effect: `The character conjures and tosses
a small worm in front the target that
grows until it is about the same size as
the target. A small tether appears that
the character can hold onto. The worm
burrows into the ground, leaving no
trace behind of its passage, taking the
target along, going in whatever direction
the target wishes. The target takes no
damage while being “pulled” by the
worm.`,
              focus: `Burrowing (creepy crawlies)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Rade`,
              effect: `The target is attached to the wake
of a moving vehicle; effect levels
increase the target’s speed. Character
floats behind vehicle so can do other
things, switch positions, read, or
anything else he desires. The –2 control

movement resistance is always in effect,
but the character passes control to the
vehicle effectively.
The vehicle will leave the target behind,
but the target will continue to ride the
wake until the serenade ends or the
target “steps off” the wake, ending it
early. If the target is forced off the
wake, he takes collision damage (see
Narrator’s Guide).`,
              focus: `Riding the wake (vehicles)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Talaria`,
              effect: `The target gains a limited ability
to fly. Each success levels grants greater
abilities to fly, rather than standard flight
speeds. Character flies based on his
regular movement rates. Effect Lvl Suggested flight ability
1 Glide from higher to lower point
2 Target levitates.
3 Can slowly change speed and
altitude based on wind currents.
4 Flies elegantly and gracefully.
5 Ignores inertia. Can hover or halt
in mid-air, immediate reversal of
direction is also possible.`,
              focus: `Flight`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Zoom`,
              effect: `The target seemingly grows an

extra set of legs that speed up his land-
based movement.`,
              focus: `Running`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Anthropomorphis`,
              effect: `The character targets his own
MIND. Various objects in the vicinity
allow him to ‘question” them about what
they’ve seen. The Clarity chart
determines what kind of information can
be gleaned.`,
              focus: `Speaking Structures`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Argus (Vogue)`,
              effect: `The character leaves one or
more senses behind in a spot, attached to
an object, etc. As long as the character
remains within the AoE, he can set it to
warn him when certain circumstances
occur. If attached to an object and the
object moves in a way that causes the
character to be out of the AoE, he cannot
be alerted. The character can make a
PER roll to sense what is happening.`,
              focus: `Clairvoyant Alarms`,
              baseCost: `4`,
              aoe: `3`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Bare`,
              effect: `The effect level becomes a PER
that the target can use to sense invisible
objects and beings.`,
              focus: `Sense Invisibility`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Bloodhound`,
              effect: `The effect level becomes a PER
that the target rolls as a tracking scent.
Environmental penalties would
obviously still apply.`,
              focus: `Tracking Scent`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Cassandra`,
              effect: `The character peers into his own
future; seeing possible events that she
may be involved in. The future is not
completely set, so what the character
sees is a probable future. The higher the
effect level, the clearer and more likely
the event will happen. Immortals use
this serenade with care, sometimes
specifically steering away from trying to
sense certain parts of the future; once
you have tied yourself to a clear
probability, the harder it is to steer back
away from it.`,
              focus: `Future Visions`,
              baseCost: `4`,
              aoe: `Self-only`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Cat's Eye`,
              effect: `The target gains a bonus equal to
the effect level against darkness
conditions.`,
              focus: `Lowlight Vision`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Dowser`,
              effect: `The effect level becomes a PER
that the target uses to track targets; it
leaves an imprint upon the target’s eyes
of a glowing trail. This does not negate
any bonuses the individual being tracked
may have received from other sources;
but the serenade ignores environmental
penalties that would hinder mundane
tracking. The target must find a clearly

marked starting point to begin the
tracking.`,
              focus: `Tracking Sight`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Iris (Warp)`,
              effect: `Borrowing from the
communication attention, the character
senses through another being within the
AoE, establishing a very low level of
telepathy between the target and the
character. The character uses his own
PER to sense through the target’s senses,
with a bonus equal to the effect level.
The character can communicate with the
target if he desires and even allow the
target to sense through the character at
will. The character can only hear
thoughts from the target specifically
directed at the character and vice versa.`,
              focus: `Sense linking`,
              baseCost: `6`,
              aoe: `4`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Minutia`,
              effect: `The serenade focuses the
awareness of the target to such a fine
degree that he creates patterns deep
within his psyche. By focusing on
something he has just seen, heard, and so
forth, he can recreate it within his mind
and search for clues, subtle body
language, or other things that may not
have been capable of being sensed
before. Each turn the serenade’s
strength loses power until it is gone.
The serenade creates a bonus to PER
rolls equal to the effect level.`,
              focus: `Sensing Details`,
              baseCost: `3`,
              aoe: `0`,
              duration: `1(-E)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Specter`,
              effect: `The effect level becomes a PER
that the target rolls to see auras. With
this the target can also see unmanifested
mortal spirits and Immortal gossamers.
PER rolls made using the sense can give
the character an idea of the strength of
the various main attributes. Targets
cannot see calculated attributes or
receive precise mechanics numbers.
Information about attributes comes in
the form of a comparison to the target’s
own: higher, about the same, much
lower, and so forth.`,
              focus: `See auras`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Syndrome`,
              effect: `The character can identify an
unknown item. Effect levels create a
PER that the target rolls against the
BODY (plus any bonuses for enchanted
items) of the item. Effect Lvl Syndrome information gleaned
1 What is it called?
Ex: A lasergun
2 What does it do?
Ex: Shoots a beam of light that
damages things
3 How do I use it?
Ex: Pull the trigger
4 Exactly how does it work?
Ex: It focuses light beams through
a small shard inside and uses a
tiny mirror to reflect the light at a
target.
5 All details of the item, who made
it and how old is it?`,
              focus: `Item Identification`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communication`,
              name: `Clarion`,
              effect: `The serenade sends out a
vibration that can be sensed by other
Immortals of the same predilection as
the character. At the highest level those
called know where the character is at in
relation to them. At the lowest level
they will get a sense of danger for
example.`,
              focus: `Call Predilections`,
              baseCost: `4`,
              aoe: `4`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communication`,
              name: `Cradle`,
              effect: `Cradle forms a telepathic link
between the character and targets of his
choice, so long as they are willing. For
the duration, and for as long as the
targets remain within an AoE of the
singer, they can communicate with each
other. The character is in complete
control, turning on and off various
targets abilities to hear and send in
relation to the other targets. He is the
ultimate censor in the mental link.
If any targets are not well known to the
character, the Unfamiliarity penalty is
used: -2 regular social contact (milkman,
character’s teacher, regular customer,
etc.), -4 casual acquaintance (has run
into once or twice and can remember
their name), -6 if unfamiliar to the
character.`,
              focus: `Telepathic Link`,
              baseCost: `6`,
              aoe: `3`,
              duration: `3`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communication`,
              name: `Loa`,
              effect: `Loa partially rouses one of the
character’s Avatars in order to
communicate with it. A character can
only rouse an Avatar that he is aware of.
He then has a basic conversation with
the Avatar. Many Immortals only allow
for short and simple effect levels;
allowing higher effect levels may
completely awaken the Avatar and cause
it to attempt to take control over the
character’s body.`,
              focus: `Communicate with Avatar`,
              baseCost: `3`,
              aoe: `Self-only`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communication`,
              name: `Manifesto`,
              effect: `The serenade creates a
communication that can only be sensed
by one person. The serenade is tied to
an object or place and left there to wait.
Once a chosen target (the trigger) comes
in contact with the object or place —
where they are able to see the message
— the message appears, but only to the
target. The character rolls against his
own MIND, leaving an imprint, illusory
carving, temporary note, etc. (based on
his motif) strong enough to convey the
message. Effect levels determine how
clear the message will be to the target.
This is a one-way communication using
the –2 resistance; the character will not
know if the target received the message
or not.`,
              focus: `Hidden Communiqué`,
              baseCost: `4`,
              aoe: `0`,
              duration: `4(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communicaiton`,
              name: `Memoir`,
              effect: `The character delves into his
own Vox, digging through the memories
of his known Avatars. The character
relives memories (sometimes only short
flashes and bits and pieces) based on the
effect level. If the character makes other
choices, the memory becomes corrupted.
The character will remember all that
happened. Memoir creates an
experience equal to an intense lethe fade.`,
              focus: `Relive the past`,
              baseCost: `3`,
              aoe: `Self-only`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communication`,
              name: `Mystique`,
              effect: `The serenade creates a telepathic
link between the character and the target,
allowing them free communication equal
to the effect level of the serenade. Once

180
established, the characters can go any
distance from one another and still
communicate. The character can read
deeper thoughts in the target based on
effect levels. If the character spends an
Immaculum mote to hide the visibility,
the target will be unaware his mind is
being read at all.`,
              focus: `Telepathy`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communication`,
              name: `Scribe (Warp)`,
              effect: `The character stores real forms
of normal communication in unusual
manners. A diamond can store recorded
sound, or a hologram can play out of the
eyes of a cat. This serenade works

partially with the transform attention.
The character targets the BODY of the
intended object or creature which will
hold the communication. Effect levels
determine clarity of the playback using
the Clarity chart.
The character specifies a trigger that will
cause the communication to play back.
He can set the trigger to be a one-time
use, the communication dissipating after
it plays back one time. Regardless, over
time the serenade will lose strength until
the communication within dissipates.`,
              focus: `Communication Holding`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2 (-E, -T <special see below>)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Communication`,
              name: `Xenoglossia`,
              effect: `The serenade sets up a low-level telepathic link that allows a character to
understand and speak various languages
of those around him. At the higher
effect levels the character can even
appear to have a native accent to those
he converses with.`,
              focus: `Tongues`,
              baseCost: `3`,
              aoe: `0`,
              duration: `0`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Time`,
              name: `Adagio`,
              effect: `Each effect level removes one of
the target’s actions per round, first
removing each set of passive actions,
then removing all standard actions. The
target cannot be reduced to zero standard
actions, it will have at least a minimum
of one standard action per round with no
passive actions left. To the affected
target, the world speeds up around him
and he has little time to do anything but
react as quickly as possible. EXAMPLE: A character with 4 standard actions
(and 4 sets of passive actions, one set
for each standard) is targeted by
Adagio with six effect levels. The first
four effect levels negate the four
passive sets, the remaining two effect
levels negate two of the four standard
actions. The character will receive two
standard actions per round for the
entire turn with no passive actions..`,
              focus: `Slow Target’s Actions`,
              baseCost: `5`,
              aoe: `0`,
              duration: `1(One Turn)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Time`,
              name: `Ambrosia`,
              effect: `Each effect level restores on
primary attribute point lost to aging
whether natural or simulated through
transformations. The target will appear
younger with each regained point. The
serenade cannot reverse aging effects
past the point of the target’s physical and
mental peak — therefore it won’t work
on children.
Calculated attributes need to be
recalculated. The target does not lose
any knowledge or memories from the
serenade. Ambrosia cannot bring back
the dead. Every attribute that is missing
points due to aging must gain at least
one point before a second point can be
applied to a single attribute. The –4
resistance for reversing time’s effects is
not applied, it is factored into the cost of
the serenade. EXAMPLE: A target is 30 years past his peak. He
has lost 2 STR, 2 AGL, 3 END and 1
PRS. The character achieves an effect
level of 7. One point is restored in
each of the target’s primary attributes
that is missing a point. Then a second
point is restored in STR, END, and
AGL. The character returns almost all
the way back to his physical and
mental peak, only missing one point of
END.`,
              focus: `Reverse Aging Effects`,
              baseCost: `6`,
              aoe: `0`,
              duration: `1(One Turn)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Time`,
              name: `Entropy`,
              effect: `Each effect level removes 1
armor point from the target object,
speeding up the effects of time on the
object. It still retains its BODY, but is
far easier to destroy now. The –4
resistance for forwarding time’s effects
is not applied, it is factored into the cost
of the serenade.
Any item containing free Immaculum
gains half the Immaculum motes as a
resistance penalty to the serenade.
Enchanted items with a SPT are
effectively living beings and cannot be
targeted by this serenade.`,
              focus: `Forward Time’s Effects on an
inanimate object.`,
              baseCost: `7`,
              aoe: `0`,
              duration: `1(-P)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Time`,
              name: `Hibernate`,
              effect: `The serenade places the target
into a state of suspended animation,
where they can sleep for an incredibly
lengthy period of time as their body
functions slow down to miniscule rates.
The target will awaken if forcibly
roused; if not the serenade eventually
dissipates.`,
              focus: `Suspended animation`,
              baseCost: `6`,
              aoe: `0`,
              duration: `4(-T)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Time`,
              name: `Nostrum`,
              effect: `Each effect level restores one
box of health that has been damaged,
effectively speeding up the healing
process.`,
              focus: `Healing`,
              baseCost: `6`,
              aoe: `0`,
              duration: `1(-P)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Amnesia`,
              effect: `Effect levels force a target to
forget increasingly important things.
The first thing forgotten is always the
fact that they were affected by the
serenade. Anything that might jolt the
target’s missing memories back reduces
the serenade strength immediately and
the target makes a WIL roll to remember
what was forgotten.`,
              focus: `Lose memories`,
              baseCost: `6`,
              aoe: `0`,
              duration: `3(-E)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Animus`,
              effect: ``,
              focus: `Devolution`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Binding`,
              effect: `Effect levels allow the character
to force a spiritual entity to manifest, or
use its other powers. NOTE:
Free Spirits
The Narrator’s Guide covers mortal
and Immortal spirits. In general, a
spirit only has a SPT attribute. It shifts
these points to other attributes to
manifest (PRS), possess the soulless
(WIL), see the physical world (PER —
they can only see life force, taint and
Immaculum normally), and affect it
(STR and AGL). The spirits of the
mundane are minor fragments of their
former selves, while Immortal spirits
— gossamers — completely retain all
their knowledge, intelligence and
personality.`,
              focus: `Controlling free spirits`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Brio`,
              effect: `The character picks an emotion
and effect levels force a target away
from their current mental state and
towards the one chosen by the character.
If the emotions are very far apart (joyous
rapture versus enraged jealousy) the
character may only have enough effect
levels to get the target part of the way to
the new mental state.`,
              focus: `Emotion Control`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Charm`,
              effect: `Effect levels force all targets in
vicinity to have good feelings towards
the someone or thing of the character’s
choice (usually himself). Each target
compares their MIND to the serenade
strength to determine effect levels of
influence. At the highest levels targets
can even become obsessed with the
chosen being or object.`,
              focus: `Become admired`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Dare`,
              effect: `Effect levels force the target to
lose more and more of their inhibitions,
making them more susceptible towards
taking risks, wild chances. It is not
hypnosis, but the target becomes more
apt to let down their mental guard
against doing things they normally
would not. It can make social conflicts
go much easier.`,
              focus: `Lowers Inhibitions`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Gremlin`,
              effect: `Gremlin controls machines that
run on some form of power. A bicycle
would not be able to be controlled, but a
computer, a toaster, a ceiling fan, a
Mystech device or a car could be started,
stopped and forced to function as it was
being used normally. One effect level is
enough to force the machine to turn on
and off, and go through its normal
startup or shutdown procedure. At the
highest levels it can be forced to push the very limits of its capabilities.`,
              focus: `Machine control`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Haspis`,
              effect: `The character can lock or unlock
the device for the serenade’s duration.
The Unfamiliarity resistance penalty
applies: simple key or combination locks
would not incur any penalty. Effect
levels should be treated as a penalty to
someone else attempting to lock or
unlock the device.`,
              focus: `Lock Control`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: ``,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Impulse`,
              effect: `Impulse puts a single thought
into the affected target that they would
like to obtain something, do something,
talk to someone, etc. How strongly the
impulse affects the character is
determined by the effect levels being
compared to the Influence chart.`,
              focus: `Simple Desire`,
              baseCost: `6`,
              aoe: `0`,
              duration: `2(-E)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Marionette`,
              effect: `Effect levels determine how
much control the character has over the
physical actions of the target. At the
lowest level the target can be forced to
do things like blink, wink, wiggle
fingers and toes. At the highest level,
every aspect from movement to speaking
can be controlled. The character can
simply set a general course of physical
actions; if he needs more precise control
he’ll need to expend passive or standard
actions as needed.`,
              focus: `Telekinesis`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Prism`,
              effect: `Prism forces the duplication of
the Aura Shifting ability, without the
need for Immaculum. It also ignores the
two point limit. A being can effectively
be reduced to a 0 SPT attribute
temporarily. Each effect level is one
point of SPT that can be “pushed” into
another area (same places and effects as
the normal use of Aura Shifting). While
strengthening various attributes it does
weaken the SPT attribute itself. The –2
SPT resistance penalty applies to this
serenade at all times.`,
              focus: `Soul Command`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Psychomachia`,
              effect: `Effect levels cause levels of fear
in the targets concerning something of
the character’s choice (object, place,
being, event, and so forth). At greater
levels the target’s may roll a PRS roll
against the serenade strength or run in
blind terror.`,
              focus: `Generate Fear`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Rave`,
              effect: `Rave drives the target berserk,
each effect level makes it harder for the
character to differentiate between friend
and foe. Targets of berserk feel no pain
until they have marked off a number of
health boxes equal to the effect level.`,
              focus: `Berserk`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Riot`,
              effect: `The serenade makes all the
targets in the AoE very angry about a
particular subject. Each effect level
influences how angry and likely they are
to do something about their anger.`,
              focus: `Angry Mob`,
              baseCost: `6`,
              aoe: `3`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Control`,
              name: `Somnus`,
              effect: `Effect levels (see Dream Control chart)
cause more of the dream’s features and
environment to fall out of the target’s
subconscious control and into the
character’s conscious control. At effect
level 3 and higher, the target will
remember vast amounts of the dream
when he awakens. The character never
has control over the target’s own actions
and reactions in the dream.
Characters should be careful about
manipulating a dream. Level 3 and
higher effects can also cause actual
physical damage to the target through
his psyche, it is possible for a character
to die in his sleep of fright or believing
he is dying in the dream.
The Morpheum does not have
measurable distance, so range is never a
factor; instead it is based on how well
the character knows the target. So the
Unfamiliarity resistance penalty comes
into play. Effect Lvl. Somnus Dream Control
1 Trivial details of the dream
that the target may or may not
remember: the color of a
person’s tie for example.
2 Minor details that the target
will remember, but will have
no lasting impact: right or
left-handed, wearing their
wedding ring or not.
3 Significant details that will
give the target pause when
considering them after he
awakens: Colors of buildings,
types of cars driven, changes
to names, changes of peoples’
looks, actions and attitudes.
4 Major change that will plague
the target after he awakens:
Changes to the buildings, cars,
make everyone in the dream
three feet taller.
5+ Mythical changes, the entire
dream can become a fantasy
world or nightmare realm.
The target’s subconscious
mind has not lost all control
over every aspect of the
dream.`,
              focus: `Dream Control`,
              baseCost: `6`,
              aoe: `special`,
              duration: `2`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Probability`,
              name: `Chaos`,
              effect: `The serenade creates a Bad-
Luck penalty that applies to any physical

action the target takes while under
duress. The penalty comes in the form
of things that cause him to be distracted,
trip up, and so forth.`,
              focus: `Bad Luck`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Probability`,
              name: `Daze`,
              effect: `Daze places a subtle series of
obstacles in the target’s way whenever
they attempt to learn more about the
personal identity of the character.
Witnesses change their mind about
speaking to the target, records are
misplaced, documented proof in his
possession becomes lost or damaged,
fate itself conspires against him. Effect
levels are compared to the Influence

chart to determine how strongly the
negative influence on the search is.`,
              focus: `Supernatural Privacy`,
              baseCost: `6`,
              aoe: `0`,
              duration: `4`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Probability`,
              name: `Evensong`,
              effect: `Evensong literally calls upon the
Aria to “fix” a situation in the
character’s favor. The character plays
against his own SPT and effect levels are
compared to the Influence chart to
determine how much “fixing” the Aria
will do in the character’s favor. The
miracle will occur sometime during the
scene (at the Narrator’s discretion).
The character doesn’t state what end
result he desires, just a simple statement
of situation and assistance. “Deliver me
from my enemies” might result in the
character stumbling onto a Ley line, or a
gas main exploding and the battle
abruptly ending. Starving people might
gain food when a pizza delivery vehicle
crashes in front of them. Imagination on
the part of the Narrator is key as
probabilities fluctuate wildly for the
character and his immediate
surroundings.
The Aria extracts a price for a character
attuning to it in such a way. In order to
maintain balance, at some later date the
tables will turn. Though the situation
may not be as grave, the same level of
influence will be applied against the
character in that situation. If a character
abuses the power of the serenade, the
Aria begins to extract a bigger price than
the miracle that was granted.`,
              focus: `Miracle`,
              baseCost: `6`,
              aoe: `Self-only`,
              duration: `2(scene)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Probability`,
              name: `Gambit`,
              effect: `The serenade creates a Good-
Luck bonus that applies to any physical

action the target takes while under
duress. The bonus comes in the form of
supernatural concentration, allowing the
Immortal to “have his game face on” so
to speak.`,
              focus: `Good Luck`,
              baseCost: `5`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Probability`,
              name: `Probing`,
              effect: `The character sings the serenade
against his own SPT. Anytime the
during the duration, the character can
announce an action that he will take and
ask the Narrator to evaluate the probable
results of that action from the Narrator’s

viewpoint. The Narrator provides
information by comparing the effect
levels to the Influence chart. If the
character continues on with the chosen
action, the serenade continues. If the
character chooses a different action, the
serenade ends.`,
              focus: `Second Guess`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Summoning`,
              name: `Ahimsa`,
              effect: `The character should pick a type
of animal that he summons: cats, dogs,
bears, wolves, song birds, raptors
(eagles, hawks, etc.), arachnids, etc.
The effect levels are designed for Size 0
creatures. Less will arrive if they are
larger, but at least one creature will
arrive (so long as one is within range of
the serenade). More will arrive if they
are smaller.`,
              focus: `Summon Animals`,
              baseCost: `6`,
              aoe: `0`,
              duration: `5 (narrator's discretion)`,
              target: `SPT or 6`,
              resistance: `None`
          },
          {
              attention: `Summoning`,
              name: `Come Hither`,
              effect: `The serenade reaches out to any
romantic interests, casual flirtations, or
intimate companions the character has.`,
              focus: `Mortal paramours`,
              baseCost: `6`,
              aoe: `0`,
              duration: `5 (narrator's discretion)`,
              target: `SPT or 6`,
              resistance: `None`
          },
          {
              attention: `Summoning`,
              name: `Flying Horde`,
              effect: `The serenade causes all manner
of predatory bugs and insects that fly to
come to the character.`,
              focus: `Insects`,
              baseCost: `6`,
              aoe: `0`,
              duration: `5 (narrator's discretion)`,
              target: `SPT or 6`,
              resistance: `None`
          },
          {
              attention: `Summoning`,
              name: `Malekin`,
              effect: `Nearby spirits (both mortal and
Immortal) are forced to appear and
manifest before the player. Most often
played near Shallows, it draws the spirits
away from the Shallows to the character.`,
              focus: `Spirits`,
              baseCost: `5`,
              aoe: `0`,
              duration: `5 (narrator's discretion)`,
              target: `SPT or 6`,
              resistance: `None`
          },
          {
              attention: `Summoning`,
              name: `Welkin`,
              effect: `The serenade stretches out
coalescing all nearby weather patterns,
clouds and electrical charge in the air to
form a storm over the general vicinity of
the player. The effect level determines
how big and violent the storm is. The
storm dissipates on its own as regular
weather patterns slowly restore
themselves. If there is already a storm in
the area, effect levels add to it.
Truly large storms (effect level 4 and 5)
will carry torrential downpours of rain,
dangerously high winds and lightning;
the Narrator’s Guide has details on
environmental damage effects from
lightning, fire and so forth.`,
              focus: `Storms`,
              baseCost: `6`,
              aoe: `0`,
              duration: `5 (narrator's discretion)`,
              target: `SPT or 6`,
              resistance: `None`
          },
          {
              attention: `Transference`,
              name: `Boon`,
              effect: `Each effect level transfers one
unmarked health box from the target to
the recipient. Any damage taken by the
recipient is marked off those boxes first
and do not count towards his normal
health boxes or pain penalties. When
the serenade ends, the boxes transfer
back to the owner, with any damage then
applying to the true owner of the health
boxes instead.`,
              focus: `Borrowing Health`,
              baseCost: `5`,
              aoe: `0`,
              duration: `By effect level`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transference`,
              name: `Bubastis`,
              effect: `The character switches his spirit
with that of the animal (character needs
to pick the type of animal when he
purchases this serenade, ex: dogs, cats,
wolves, bears, song birds, etc.
The Vox does not travel with the
Immortal so he cannot play serenades
while possessing the creature. If for
some reason it has any Immaculum
motes present in its auras, it cannot be
possessed as such.
Unlike simply possessing a soulless
mortal human however, the animal’s
spirit is now trapped inside the body of
the Immortal, precautions should be
taken to make sure the creature does not
wreak havoc. If the Immortal possesses

192
a nature that the animal’s species could
possess, he can use that nature — at its
full level — while in the animal’s body.`,
              focus: `Spirit Switching (animal motif)`,
              baseCost: `6`,
              aoe: `0`,
              duration: `By effect level`,
              target: `SPT`,
              resistance: `None`
          },
          {
              attention: `Transference`,
              name: `Gestalt`,
              effect: `The serenade steals one skill
from the target, that is known to the
Immortal. The recipient uses the skill at
its full level.`,
              focus: `Skill Stealing`,
              baseCost: `5`,
              aoe: `0`,
              duration: `By effect level`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Transference`,
              name: `Ichor`,
              effect: `The serenade links the character
to a non-magical object with a BODY
less than his own. Any damage the
character takes transfers to the object
The target number is 6 or the character’s
own BODY, whichever is higher. In this
case the character is the target and the
item is the recipient. The object simply
takes health boxes until it breaks, at this
point the serenade ends early.
This sets up an attunement to the object
that can be traced back and used against
the character. A character can only be
linked to one object at a time.`,
              focus: `Item Linking`,
              baseCost: `6`,
              aoe: `0`,
              duration: `Special (-T)`,
              target: `Body or 6`,
              resistance: `None`
          },
          {
              attention: `Tranference`,
              name: `Ravage`,
              effect: `The character temporarily gains
the nature of another Immortal for a
duration based on the effect level.`,
              focus: `Stealing Natures`,
              baseCost: `5`,
              aoe: `0`,
              duration: `By effect level`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transference`,
              name: `Schizoid`,
              effect: `The character’s motif lightly
touches upon the targets, switching
between them what makes them special:
their persona, predilection, mannerisms,
way of thinking, and so forth. They
have no choice and cannot willingly go
back to their normal persona, it isn’t
there any longer. This serenade
effectively switches the predilections of
two targets.`,
              focus: `Persona Switching`,
              baseCost: `6`,
              aoe: `0`,
              duration: `By effect level`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Breath`,
              effect: `This total transformation turns
the target into vapor; able to enter the
lungs of a living being,and hide within
its aura until the duration of the serenade
ends. In this state he cannot be harmed
by non-magical weapons.`,
              focus: `Lung Vapor`,
              baseCost: `5`,
              aoe: `0`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Diluenta`,
              effect: `This total transformation tuns
the target to become a pool of mobile
liquid. In this state he cannot be harmed
by non-magical weapons. If the
character accepts a shorter duration, he
can use extra effect levels as the Aquatic
Nature.`,
              focus: `Turn to liquid`,
              baseCost: `5`,
              aoe: `0`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Endue`,
              effect: `This partial transformation turns
one of the target’s limbs into a weapon
of the character’s choosing. The effect
level counts as the base damage. If the
character were to use related foci to
change the entire body into a weapon
and be wielded by another, the target’s
STR would also count as part of the base
damage.`,
              focus: `Body Weapon`,
              baseCost: `4`,
              aoe: `0`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Himalaya`,
              effect: `This partial transformation
makes the target’s body incredibly
supple, allowing him to squeeze, contort
and otherwise shape his malleable body
out of various restraints. Effect level
counts as a bonus to escape attempts.`,
              focus: `Contortion`,
              baseCost: `4`,
              aoe: `0`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Mien`,
              effect: `This partial transformation turns
the character into another human being
as compared to on the Transformation
chart. Even gender can be changed.`,
              focus: `Contortion`,
              baseCost: `4`,
              aoe: `0`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Mistral (Warp)`,
              effect: `This partial transformation turns
the immediate area into a wintry scene,
combining with the power of destruction
to do damage. Liquids and inanimate
objects freeze over and living beings
take damage by comparing the effect
total against their BODY.`,
              focus: `Wintry Scene`,
              baseCost: `5`,
              aoe: `3`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Tattoo`,
              effect: `This total transformation can
take nearly anything: a person, object,
even a place, and turn it into a tattoo on
the character’s skin for transport and
safe keeping.
Storing places incurs a resistance: AoE
1 equals a –2, AoE 2 equals a –4, AoE 3
equals –6, AoE 4 equal –8. The
serenade is not cumulative, storing a
place does not store the living beings in
it at the same time.`,
              focus: `Skin Vault`,
              baseCost: `7`,
              aoe: `0`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Transformation`,
              name: `Zoas`,
              effect: `This total transformation turns
an Immortal’s himsati into a different
himsati, including changes to all
necessary natures.`,
              focus: `Change Himsati`,
              baseCost: `5`,
              aoe: `0`,
              duration: `Scene / Special`,
              target: `Body`,
              resistance: `None`
          },
      ]
      //list js logic
var options = {
  valueNames: [ 'attention', 'name', 'effect', 'focus', 'baseCost', 'aoe', 'duration', 'target', 'resistance' ],
  item: '<li><h3 class="mb-1 mt-2"><span class="name"></span> - (Attention of <span class="attention"></span>)</h3><p class="effect"></p><p><b>Focus: </b><span class="focus"></span>  <b>Base Cost: </b><span class="baseCost"></span>  <b>AOE: </b><span class="aoe"></span>  <b>Duration: </b><span class="duration"></span>  <b>Target: </b><span class="target"></span>  <b>Resistance: </b><span class="resistance"></span></p></li>'
};

var hackerList = new List('hacker-list', options, serenades);
</script>
  </script>