<% layout("layouts/boilerplate")%>
 <h1>Serenades</h1> 
 <div id="hacker-list"">
    <form class="search search-form mb-3">
      <input type="text" style="flex: 10;" class="search form-control form-control-md" placeholder="Search Serenades">
      <!-- <div style="display: flex;">
        <span class="sort btn btn-sm btn-info flex-grow-1" data-sort="name">Sort Name</span>
        <span class="sort btn btn-sm btn-info flex-grow-1" data-sort="tribe">Sort Tribe</span>
        <span class="sort btn btn-sm btn-info flex-grow-1" data-sort="activation">Sort Activation</span>
        <button style="flex: 0;" class="btn btn-success btn-sm sort flex-grow-1" data-sort="name">Reset</button>      
      </div> -->
      </form>
      <ul class="list"></ul>
    </div>
  </div>

  <script>
      const serenades = [
          {
              attention: `Destruction`,
              name: `Deadly Swarm`,
              effect: `The character hums and buzzes
slightly, and a stream of insects pour
forth from the nearest nest/hive/etc. The
stream is far larger than the hive could
hold, and it forms a huge cloud that
attacks everything in the area.`,
              focus: `Swarm of biting/stinging insects`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
          {
              attention: `Destruction`,
              name: `Ember`,
              effect: `The target erupts into a gout of
flame, taking damage once per round.
The target burns until the serenade total
drops to its BODY. Mundane attempts
to put out the fire (water, smothering,
etc.) will not put the fire out, but will
decrease the strength at least some.`,
              focus: `Spontaneous Combustion (Fire)`,
              baseCost: `6`,
              aoe: `0`,
              duration: `0(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
          {
              attention: `Destruction`,
              name: `Fireball`,
              effect: `The character manifests a ball of
fire over his head and directs it at the
target area. It instantly travels there and
explodes outwards covering the AoE.`,
              focus: `Fireball`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Hailstorm`,
              effect: `The character blows icy breath
into his cupped hands, revealing a ball of
ice that he drops on the ground.
Immediately the sky grows dark and
huge hailstones drop from the sky into
the affected area. The stones will
bounce off objects to reach characters
protected by overhead shelter when
possible`,
              focus: `Hailstones (Ice Motif)`,
              baseCost: `6`,
              aoe: `2`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Mindstorm`,
              effect: `The character manifests droplets
of water that fly through the air and
continuously drop down onto the target,
creating a cacophony of mind-rending
sound within the target’s mind.`,
              focus: `Rain`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`, 
              target: `Mind`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Rending Vines`,
              effect: `The character points at the
ground and huge vines erupt from the
ground, grabbing and tearing at all.`,
              focus: `Thorny Vines (Vines)`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Spear of Destiny`,
              effect: `Jagged Spear (Metal)`,
              focus: `A magical spear manifests in the
character’s hand and is thrown with
uncanny accuracy at the target, the spear
only misses if the serenade total does not
generate an effect level.`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Surge`,
              effect: `Lightning leaps from the
character’s hands at the target.`,
              focus: `Lightning`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `The Shout`,
              effect: `This is the only known
exception for destruction serenades in
that it uses the cry, howl or call of the
character’s own himsati as the focus.
The character’s vocal chords temporarily
revert to himsati as he lets out a
shockwave based on his himsati.`,
              focus: `Himsati Cry/Howl/Call`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Thundercrack`,
              effect: `The character slams his hands
together, causing an ear-splitting rolling
blast of thunder to ripple out in a cone-
shape (same rough area as AoE 1
radius).`,
              focus: `Cone of Rolling Thunder`,
              baseCost: `6`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Destruction`,
              name: `Wolven Rage`,
              effect: `The character lets out a wolf-
howl and a spiritual wolf appears from
nearby, leaving a glowing trail. The
spirit circles the target, diving in and
attacking, doing damage to the target
once per round until the serenade
strength drops to the target’s BODY.`,
              focus: `Mystical Wolf Spirit (Wolves)`,
              baseCost: `6`,
              aoe: `0`,
              duration: `0(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Constrictor`,
              effect: `The character manifests a
magical boa constrictor that wraps
around and holds the target.`,
              focus: `Boa Constrictor (Snakes)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `1(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Embrace`,
              effect: `The character touches his target;
his motif covers the target, making it
impossible to move. If the character
stops touching the target however, he is
immediately freed. This may require a
physical conflict in order to touch the
target.`,
              focus: `Immobilizing Touch`,
              baseCost: `3`,
              aoe: `Touch`,
              duration: `2(-T)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Filament`,
              effect: ``,
              focus: `Webbing`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Frost Wall (WARP)`,
              effect: `Frostwall borrows from the

attention of destruction. It creates a wall
of ice that must be broken through;
however, it is so cold that anything
touching it takes frostbite damage every
round they touch it (mundane protective
clothing will not resist this damage).
The current strength is compared to the
BODY of anyone who touches the wall
to determine damage.`,
              focus: `Wall of super-cold ice`,
              baseCost: `5`,
              aoe: `1`,
              duration: `1(-E)`, 
              target: `6`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Gorgon`,
              effect: `The character turns the target to
stone.`,
              focus: `Stone`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-E)`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Hedgemaze`,
              effect: `Anyone in the AoE finds
themselves trapped in a hedge maze.
The maze even grows over the target’s
head to prevent him from climbing out.
The target can try to break his way
through or he can search for the exit. If
he finds the exit, the serenade ends
immediately. The serenade total should
be used as the target number to search
for the exit, plus any applicable bonuses
or penalties. Eventually the hedge
shrivels up and crumbles at the end of
the duration.`,
              focus: `Bushes`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(-T)`, 
              target: `6`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Metalstruck`,
              effect: `An area effect restraint, the
character conjures a small metal object

166
at the center of the AoE and all
characters cannot pull free from the area
as they are spiritually magnetized to the
object.`,
              focus: `Magnetism`,
              baseCost: `5`,
              aoe: `1`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Mindwave`,
              effect: `The target’s head is filled with
so much prose that he cannot think
straight enough to do anything. Since
this serenade targets the MIND, the
target must use his WIL to break free
instead of his STR.`,
              focus: `Writer’s Block (Poetry)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Mind`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Quake`,
              effect: `The character conjures and
tosses a small stone at the ground. The
ground shakes and trembles as chasms
open up that swallow up the target and
close him. The target must then dig his
way out of the underground chasm or
wait until the aftershocks open the
ground back up again to release him at
the end of the scene.`,
              focus: `Creating Chasms (Earth)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Obstruction`,
              name: `Weld`,
              effect: `The character sticks two or
more things together: two inanimate objects,
two living creatures, or a living creature
and an inanimate object. The serenade
is already designed to affect a number of
targets up to the character’s SPT, so the
–2 penalty is ignored. Attempting to
stick together more targets would incur
the –4 or –6 penalty. Each target breaks
free from the weld based on the effect
level he is under.`,
              focus: `Stick Together`,
              baseCost: `5`,
              aoe: `Special (see description)`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Mimicry`,
              name: `Epitome`,
              effect: `The character manifests a
chaotic whirlwind from his motif,
surrounding the target and recipient.
The character chooses which nature(s)
he is attempting to copy before making
the roll. The serenade works on mortal
animals as well, granting the recipient
only base levels in the appropriate
natures. There are exceptions — such as
a cheetah having a high Hyper nature.`,
              focus: `Copy Himsati Natures`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Mimicry`,
              name: `Rapier`,
              effect: `The character activates one or
more of his natures and then manifests
the power of his motif. It grabs up the
natures and places them into a weapon
of the character’s choosing. If the
weapon is given to another individual, it
uses their attributes with the natures as
appropriate. The wielder must expend at
least passive actions to use the natures in
the weapon. This is a good serenade for
natures like Beauty, Deafen,
Discorporate, Poison, Secrete and
Terrible Countenance.`,
              focus: `Weapon Natures`,
              baseCost: ``,
              aoe: `Self Only`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
           {
              attention: `Mimicry`,
              name: `Gemetria (WARP)`,
              effect: `The character is changed into
multiple copies of his himsati that flee

the area and attempt to “rejoin” and
reform the character at the end of the
duration. Even if all but one clone is
destroyed, that one clone reforms into
the character’s human form. There is no
resistance for complexity since the
character is copying himself.
The serenade borrows from the aperture
attention (covered in the Narrator’s
Guide) allowing the SPT and Vox of the
character to move between the clones.
The higher the effect level, the longer
the clones are willing to stay apart.
The character can make a number of
clones based on the same penalty as
affecting multiple targets. One clone at
no penalty, a number up to his SPT for –
2, up to twice his SPT for –4, and up to
three times his SPT for –6. Very small
creatures will make additional copies to
fill up a volume equal to a size zero
creature.`,
              focus: `Escaping Himsati Copies`,
              baseCost: `5`,
              aoe: `Self Only`,
              duration: `0`, 
              target: `Body`,
              resistance: `None`,
          },
          {
              attention: `Mimicry`,
              name: `Khemia`,
              effect: `The character can tie the
attributes of one inanimate substance to
another. The energetic light of fire can
be placed in a diamond so that it burns
without heat. Fire can be given the
translucent rigidity of crystal and
become unmoving stone radiating heat,
or carved into a sculpture. Shadow can
be placed into a woman’s gown to make
it move with a strange dimensionality, or
the shadow can be placed into fog to
make it darker. The serenade is already
designed to affect a number of targets up
to the character’s SPT, so the –2 penalty
is ignored.`,
              focus: `Copying inanimate attributes`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Mimicry`,
              name: `Looking Glass (Warp)`,
              effect: `The character can pull copies of
objects out of a mirror that has reflected
them at some point. The complex mimic
resistance penalty is negated; objects of
great complexity will not work like the
original since they are merely
reflections.
When the character sings the serenade, it
can jump straight back to a particular
point in time, or the character can scroll
through time within a few rounds worth
of time.
The Time penalty (see Attention of
Sensation) applies to this serenade. The
character should determine the serenade
strength, and then he can pull out any
object he wishes whose BODY is low
enough to give him at least one effect
level.`,
              focus: `Copying past objects (mirrors)`,
              baseCost: `5`,
              aoe: `0`,
              duration: `0`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Mimicry`,
              name: `Reflection`,
              effect: `The character’s motif lightly
touches upon the target, returning to the
recipient and bringing a copy of what
makes the target special: his persona,
predilection, mannerisms, way of
thinking, and so forth. The recipient can
imitate the target flawlessly, switching
back and forth between his normal
persona and the target’s at will. While
using the target’s persona, even mystical
scans would reveal the recipient to have
the target’s persona, predilection and so
forth. The character will always incur
the complex mimic serenade at –4.`,
              focus: `Copying Persona`,
              baseCost: `4`,
              aoe: `0`,
              duration: `0`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Mimicry`,
              name: `Simulacrum`,
              effect: `The target is covered with the
character’s motif. The motif sloughs off
the target forming into a duplicate. The
clone will have no SPT and will have
one less point in each of the other six
attributes.
The duplicate does not truly have the
mind and spirit of the original, so it will
act slightly childlike without some way
to assist it in how to act. It does not
actually possess any of the skills or
special abilities either, just a passing
familiarity.
The complex mimic penalty is not
applied as it is factored into the base cost
for the serenade.`,
              focus: `Clone a human`,
              baseCost: `6`,
              aoe: `Touch`,
              duration: `0`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Chevron`,
              effect: `The serenade makes someone
seem more powerful than they are,
especially to mystical forms of scanning.
The recipient seems as if his attributes

are higher than they truly are, the person
seems stronger, more dynamic, more
agile, and so forth. It doesn’t really
increase any attributes so if the recipient
of the illusion is tested he will likely fail
that test. Each effect level gives the
recipient one more “point” in each of the
seven attributes — or the points can
cluster in only some attributes instead.
The illusion will be questioned
automatically if a normal human appears
to have higher than a 5 in just about any
attribute, or an Immortal has higher than
a 9.
The –2 resistance for fooling mystical
senses is factored into the cost and is not
applied to this serenade.`,
              focus: `False attribute levels`,
              baseCost: `3`,
              aoe: `Self-only`,
              duration: `2 (scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Dim`,
              name: `Illusion`,
              effect: `The serenade makes someone
seem more powerful than they are,
especially to mystical forms of scanning.
The recipient seems as if his attributes

are higher than they truly are, the person
seems stronger, more dynamic, more
agile, and so forth. It doesn’t really
increase any attributes so if the recipient
of the illusion is tested he will likely fail
that test. Each effect level gives the
recipient one more “point” in each of the
seven attributes — or the points can
cluster in only some attributes instead.
The illusion will be questioned
automatically if a normal human appears
to have higher than a 5 in just about any
attribute, or an Immortal has higher than
a 9.
The –2 resistance for fooling mystical
senses is factored into the cost and is not
applied to this serenade.

Dim (3)
Range: Self Only
Duration: 2 (-T)
Focus: Appear dead/inanimate
Effect: Makes the living aura of the
target transparent to mystical senses and
as a side effect makes the character
appear dead to inspection by mortals.
Mystical senses that do not rely on a
form of vision will perceive the
character as nothing more than an
inanimate object. If the character moves
while in contact with another living aura,
the serenade ends immediately. The
character may choose to leave part of his
living auras (attributes) undimmed so
that he merely appears weaker than he
really is (opposite of Chevron).
Effect levels become bonuses to any
kind of Evasion roll to avoid being
detected by anything that tracks by aura
rather than by normal sight or smell.

170
The –2 resistance for fooling mystical
senses is factored into the cost and is not
applied to this serenade.`,
              focus: `Appear dead/inanimate`,
              baseCost: `3`,
              aoe: `Self-only`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Domino (Warp)`,
              effect: `Borrowing from the attention of
communication, the serenade sets up a
minor telepathic link between the
character and any targets he interacts
with for the duration of the serenade. It
uses the target’s own thoughts to feed
clues — in the form of stray thoughts —
back to the character to assist in keeping
up the illusion.
The illusion causes the character to
appear someone the target trusts,
admires and respects. The character
appears different to each target;
character take a risk if they attempt to
interact with two targets simultaneously,
if even one target catches on, the
serenade ends.
The chart suggests how the character
may appear based on the effect level
generated on a given target. The
character can select targets up to twice
his SPT, with targets possibly moving in
and out of the area of effect.
Effect Lvl / Domino suggested illusions
1 Generic: Appears as random
fireman, policeman, doctor, priest,
etc.
2 Frequent light social contact:
Neighbor, mailman, distant
relative
3 Admired personage: Favorite
movie star, sports figure, love
interest, politician
4 Close contact: Sibling, parent,
spouse, child
5 Implicit trust: Angel, ghost of
long-lost parent, earth spirit, etc.
`,
              focus: `Appear as a trusted individual`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Metaphor (Vogue)`,
              effect: `The recipient of this serenade
blends into the crowd around him,
everything about him becomes plain and
ignorable. He appears to be whatever
various onlookers expect him to be as

they rush through their day. Those
around the recipient simply ignore the
strange armor, weapons, clothing and
himsati natures the character may have
active or on his person.
Effect levels count as automatic Evasion
bonuses to not being noticed. When
someone is actively searching for the
recipient of the serenade.`,
              focus: `Becoming Nondescript`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Rialla`,
              effect: `The serenade creates the illusion
of a gathering of people: a meeting,
conference, party, and so forth.
Appropriate sights, sounds, smells, and
even touch are created for those
interacting with the illusion. The
serenade can also “decorate” the
surroundings to match the type of
gathering created.
Of course, any drink or food is not real
and once the illusion wears off the
Effect Lvl Domino suggested illusions
1 Generic: Appears as random
fireman, policeman, doctor, priest,
etc.
2 Frequent light social contact:
Neighbor, mailman, distant
relative
3 Admired personage: Favorite
movie star, sports figure, love
interest, politician
4 Close contact: Sibling, parent,
spouse, child
5 Implicit trust: Angel, ghost of
long-lost parent, earth spirit, etc.
targets will feel strangely hungry or
thirsty again.`,
              focus: `False Gathering`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `The Ripple`,
              effect: `A favorite among the Slayer
Calling, it sends out a ripple using the
character’s motif, in order to draw in
enemies. Effect levels determine how
strong the Immortal making the “ripple”
appears to be.
Effect Lvl Suggested Ripple level
1 Weak, just awoke from lethe
2 Young, less than 100 years since
coming out of lethe
3 Moderately powerful Immortal of
a few hundred years of age.
4 Very powerful Immortal of a
thousand or more years possibly
5 On the verge of Transcendence
`,
              focus: `Creating a False Ripple`,
              baseCost: `3`,
              aoe: `2`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Illusion`,
              name: `Veil`,
              effect: `People don’t see the recipient of
the serenade at all. Light seems to pass
through him. It even slightly dampens
smell and sound that originates from the
recipient. If the recipient comes in
physical contact with someone in the
AoE, the effect is immediately broken.
Effect levels can aid various forms of
Evasion. The –2 resistance can allow
the fooling of cameras and mystical
senses as well.`,
              focus: `Turn Invisible`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Bastion (Vogue)`,
              effect: `This covers the target’s entire
body using some form of the character’s
own motif and protects against all forms
of damage that target the BODY
(including physical attacks from
weapons). Each effect level provides
one point of mystical armor.`,
              focus: `The character’s motif is used.`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Cacophony`,
              effect: `The character uses his motif to
begin shifting the target’s attributes out
of phase, creating a chaotic fugue that
becomes harder to target with a
serenade. The target number is the
highest of his BODY, MIND or SPT.
Each effect level provides 1 point of
defense against incoming serenades.
This requires a –4 resistance penalty
since it protects three attributes at once.`,
              focus: `Serenade protection`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `-4 resistance penalty since it protects 3 attributes at once`
          },
          {
              attention: `Protection`,
              name: `Lightning Sphere`,
              effect: `The character creates a ball of
lightning that expands out and surrounds
a small area, weakening incoming
attacks. Any attacks must first penetrate
the armor provided by the shield, before
any damage can be applied to a target
inside the shield. All targets inside the
sphere are given the same points of
protection .`,
              focus: `Force Field (Lightning)`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Rigor`,
              effect: `Each effect level grants the
character additional points of END for
the sole purpose of resisting hostile
elements created by the environment:
cold, heat, harsh winds, and so forth. It
allows the character go longer without
becoming hungry or thirsty, survive in a
cold winter region or a harsh hot desert.`,
              focus: `Surviving the elements`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Root Shield`,
              effect: `Roots shoot up out of the ground,
wrapping themselves around the target
and melding together into a set of
supernatural wooden armor. Each effect
level grants one point of armor. An
effect level of one will grant basic wood,
while an effect level of 5 or more seems
stronger than petrified wood. Over the
course of the battle, the wood is chipped
away by attacks.`,
              focus: `Wooden Armor (wood)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `1(-E)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Thinkbox`,
              effect: `Each effect level grants the
character additional points of MIND to
resist being mentally manipulated by

mystical effects. A glowing ever-
changing geometric pattern whirls

around the target, protecting him from
serenades and other mystical forms of
MIND-based damage or manipulation.`,
              focus: `Geometric Patterns`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Protection`,
              name: `Zen Shadow`,
              effect: `The character focuses his mind to
such a degree that real things do not
exist for him, nor can do him harm even
EXAMPLE:
Integrating Protection
A character plays the Root Shield
serenade to cover himself in wooden
armor. He is already wearing a suit of
armor so the serenade integrates itself
into the metal suit of armor, carving
intricate patterns into the metal surface
of leaves and roots, etc.

174
though they may harm someone else
nearby. A “shadow” sword passes
through him, “shadow” fire does not
burn him.
The player rolls against his own BODY
and each effect level adds to his AGL or
BODY for the purpose of avoiding
physical attacks and damage. He no
longer physically avoids the attack but
makes his standard roll for the Dodge
skill. If successful, the object passes
through him. This will work against
items that have been magically
enhanced, so long as they do not have a
SPT aura.`,
              focus: `Disbelief`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Creeper`,
              effect: `The character conjures a spider
that he tosses at the target; the spider
quickly spins a light web around the
target that doesn’t impede his
movement, but allows him to walk on
walls and ceilings. Additional effect
levels beyond the first double his
movement rates.`,
              focus: `Wall walking (spiders)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Flux and Flow`,
              effect: `The serenade grants the user a
limited flight ability, but instead of
granting standard flight, it enables the
target to “walk” on increasingly difficult types of surfaces at his normal combat
movement rate with perfect balance.
See the chart nearby for suggestions on
abilities. Effect Lvl Suggested Flux and Flow ability
1 Mimics the balance nature,
allowing walking on severely
steep inclines, tightropes, etc.
2 Walk on liquids (even turbulent
ones) such as a lake or across a
large pool
3 Walk on walls and ceilings
4 Walk on floating dust leaves
5 Walk on flows of air, no matter
how turbulent or unstable`,
              focus: `Wind walking (wind)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Froth`,
              effect: `A chaotic mass of bubbles
surrounds the target, carrying him in
whatever direction he desires (or the
character desires if he uses the penalty to
control the serenade). The serenade
provides a form of swimming and is
treated just like the Aquatic himsati
nature. As a simple side effect, the
target has a small limited air supply at
the Narrator’s discretion.`,
              focus: `Swimming (air)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Nightcrawler`,
              effect: `The character conjures and tosses
a small worm in front the target that
grows until it is about the same size as
the target. A small tether appears that
the character can hold onto. The worm
burrows into the ground, leaving no
trace behind of its passage, taking the
target along, going in whatever direction
the target wishes. The target takes no
damage while being “pulled” by the
worm.`,
              focus: `Burrowing (creepy crawlies)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Rade`,
              effect: `The target is attached to the wake
of a moving vehicle; effect levels
increase the target’s speed. Character
floats behind vehicle so can do other
things, switch positions, read, or
anything else he desires. The –2 control

movement resistance is always in effect,
but the character passes control to the
vehicle effectively.
The vehicle will leave the target behind,
but the target will continue to ride the
wake until the serenade ends or the
target “steps off” the wake, ending it
early. If the target is forced off the
wake, he takes collision damage (see
Narrator’s Guide).`,
              focus: `Riding the wake (vehicles)`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(-T)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Talaria`,
              effect: `The target gains a limited ability
to fly. Each success levels grants greater
abilities to fly, rather than standard flight
speeds. Character flies based on his
regular movement rates. Effect Lvl Suggested flight ability
1 Glide from higher to lower point
2 Target levitates.
3 Can slowly change speed and
altitude based on wind currents.
4 Flies elegantly and gracefully.
5 Ignores inertia. Can hover or halt
in mid-air, immediate reversal of
direction is also possible.`,
              focus: `Flight`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Movement`,
              name: `Zoom`,
              effect: `The target seemingly grows an

extra set of legs that speed up his land-
based movement.`,
              focus: `Running`,
              baseCost: `4`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Body`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Anthropomorphis`,
              effect: `The character targets his own
MIND. Various objects in the vicinity
allow him to ‘question” them about what
they’ve seen. The Clarity chart
determines what kind of information can
be gleaned.`,
              focus: `Speaking Structures`,
              baseCost: `5`,
              aoe: `1`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Argus (Vogue)`,
              effect: `The character leaves one or
more senses behind in a spot, attached to
an object, etc. As long as the character
remains within the AoE, he can set it to
warn him when certain circumstances
occur. If attached to an object and the
object moves in a way that causes the
character to be out of the AoE, he cannot
be alerted. The character can make a
PER roll to sense what is happening.`,
              focus: `Clairvoyant Alarms`,
              baseCost: `4`,
              aoe: `3`,
              duration: `2(-T)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Bare`,
              effect: `The effect level becomes a PER
that the target can use to sense invisible
objects and beings.`,
              focus: `Sense Invisibility`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Bloodhound`,
              effect: `The effect level becomes a PER
that the target rolls as a tracking scent.
Environmental penalties would
obviously still apply.`,
              focus: `Tracking Scent`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Cassandra`,
              effect: `The character peers into his own
future; seeing possible events that she
may be involved in. The future is not
completely set, so what the character
sees is a probable future. The higher the
effect level, the clearer and more likely
the event will happen. Immortals use
this serenade with care, sometimes
specifically steering away from trying to
sense certain parts of the future; once
you have tied yourself to a clear
probability, the harder it is to steer back
away from it.`,
              focus: `Future Visions`,
              baseCost: `4`,
              aoe: `Self-only`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },
          {
              attention: `Sensation`,
              name: `Cat's Eye`,
              effect: `The target gains a bonus equal to
the effect level against darkness
conditions.`,
              focus: `Lowlight Vision`,
              baseCost: `3`,
              aoe: `0`,
              duration: `2(scene)`,
              target: `Mind`,
              resistance: `None`
          },

      ]
      //list js logic
var options = {
  valueNames: [ 'attention', 'name', 'effect', 'focus', 'baseCost', 'aoe', 'duration', 'target', 'resistance' ],
  item: '<li><h3 class="mb-1 mt-2"><span class="name"></span> - (Attention of <span class="attention"></span>)</h3><p class="effect"></p><p><b>Focus: </b><span class="focus"></span>  <b>Base Cost: </b><span class="baseCost"></span>  <b>AOE: </b><span class="aoe"></span>  <b>Duration: </b><span class="duration"></span>  <b>Target: </b><span class="target"></span>  <b>Resistance: </b><span class="resistance"></span></p></li>'
};

var hackerList = new List('hacker-list', options, serenades);
</script>
  </script>